<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title>AL</title>
</head>
<body>
    <nav>
        <div class="menu">
            <a href="#">
                <img src="2.png">
            </a>
        </div>

        <ul class="nav-links">
            <li class="link"><a href="#">Search</a> </li>
            <li class="link"><a href="#">Social</a> </li>
            <li class="link"><a href="#">Forum</a> </li>
        </ul>
        <form action="/home">
        <button class="btn">
            <a href="/">
                Log out
            </a>
        </button>
    </nav>
    <div class="menu-search">
        <form class="search">
            <input type="text" placeholder="Search">
        </form>
    </div>
    <div class="td">
        <h2>Trending now</h2>
        <div class="img">
            <a href="#"><img src="op.png"></a>
            <h3>ONE PIECE</h3>
        </div>    
    </div>
   </form>
</body>
</html>