<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <title>Sign Up</title>
</head>
<body>
    <nav class="menu">
        <div class="logo">
            <a href="#">
                <img src="2.png">
            </a>
        </div>

        <ul class="nav-links">
            <li class="link"><a href="#">Search</a> </li>
            <li class="link"><a href="#">Social</a> </li>
            <li class="link"><a href="#">Forum</a> </li>
        </ul>
        <button class="btn">
            <a href="/">
            Login
            </a>
        </button>
    </nav>
    <div class="login-card">
        <h2>Sign Up</h2>
        <h3>Create your account</h3>

        <from class="login-from">
            <form action="/signup" method="post">
              <input type="text" id="name" name="username" placeholder="Username">
              <input type="password" id="password" name="password" placeholder="Password">
              <button type="submit">
                 <a href="/">Sign Up</a>
              </button>
            </form>
        </from>
    </div>
</body>
</html>